@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'plT';
  src: url('./fonts/Paperlogy-1Thin.ttf');
}

@font-face {
  font-family: 'plEL';
  src: url('./fonts/Paperlogy-2ExtraLight.ttf');
}

@font-face {
  font-family: 'plL';
  src: url('./fonts/Paperlogy-3Light.ttf');
}

@font-face {
  font-family: 'plR';
  src: url('./fonts/Paperlogy-4Regular.ttf');
}

@font-face {
  font-family: 'plM';
  src: url('./fonts/Paperlogy-5Medium.ttf');
}

@font-face {
  font-family: 'plSB';
  src: url('./fonts/Paperlogy-6SemiBold.ttf');
}

@font-face {
  font-family: 'plB';
  src: url('./fonts/Paperlogy-7Bold.ttf');
}

@font-face {
  font-family: 'plEB';
  src: url('./fonts/Paperlogy-8ExtraBold.ttf');
}

@font-face {
  font-family: 'plBlack';
  src: url('./fonts/Paperlogy-9Black.ttf');
}
